@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.large-icon {
    font-size: 24px; // Adjust the font size as needed
  }

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600; /* 600 is semi-bold for Poppins */
    color: #002055;
  }


  .username {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #002055;
  }
  
  
.form-label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #848A94;
}

.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #002055;
}

 
.profile-picture {
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

body {
  background-color: #F2F4F8;
}